* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

@font-face {
  src: url('/fonts and icons/Poppins-Regular.ttf');
  font-family: poppins;
}

body {
  background: #1c1f2b;
  color: white;
}

.logo{
  font-size: 22px;
  position: relative;
  left: -5px;
}

.nav{
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

.icons{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.input {
  width: 96%;
  height: fit-content;
  position: relative;
}

.input input {
  padding: 10px 20px;
  border: 2px solid #465EFC;
  background: transparent;
  border-radius: 8px;
  outline: none;
  transition: all .7s;
  color: #fff;
  width: 100%;
}

.input span.label {
  position: absolute;
  top: 10px;
  left: 18px;
  font-size: 14px;
  opacity: .956;
  transition: .4s;
  letter-spacing: 0px;
  color: #fff;
}

.input input:focus~span.label,
.input input:valid~span.label {
  transform: translateX(6px) translateY(-19px);
  font-size: .85em;
  text-transform: uppercase;
  border-left: 2px solid #465EFC;
  border-right: 2px solid #465EFC;
  text-shadow: 0 0 10px #465EFC;
  background: #1c1f2b;
  padding: 0 10px;
  color: white;
}

#iconNav{
  width: 26px;
}

.bottomNav{
  position: fixed;
  z-index: 1111;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background: linear-gradient(4deg,#232526, #414345);
  border-bottom: .1px solid #465EFC;
  border-radius: 12px;
  height: 55px;
  width: 98%;
  margin-left: 1%;
  box-shadow: 0 0 12px #000;
}

.item{
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
}

.title{
  display: none;
}

.item p{
  font-size: 11px;
}

.blinks{
  margin-top: 20px;
  display: flex;
  overflow: scroll;
  gap: 20px;
  scroll-behavior: smooth;
  margin-left: 12px;
  padding-bottom: 35px;
}

.blink{
  min-width: 150px;
  height: 200px;
  background: #42445A;
  border-radius: 10px;
  position: relative;
  overflow: visible;
}

.blinkerName{
  position: absolute;
  bottom: -25px;
  font-size: 13px;
  left: 45px;
}

#blinker{
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -35px;
  left: 5px;
  border: 1px solid white;
  border-radius: 50%;
}

.blinkTitle{
  font-size: 10px;
  position: absolute;
  left: 45px;
  bottom: -37px;
}

.heart{
  width: 26px;
  position: absolute;
  top: 3px;
  right: 3px;
}

.blinkPosts{
  margin-top: 20px;
  width: 94%;
  height: fit-content;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.blinkPost{
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  min-height: 180px;
  width: 100%;
}

.heartPost{
  width: 28px;
  position: absolute;
  bottom: -33px;
  right: 5px;
}

#postBlinker{
  width: 35px;
  height: 35px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  bottom: -40px;
  left: 5px;
}

.postBlinkerName{
  position: absolute;
  bottom: -28px;
  font-size: 14px;
  left: 55px;
}

.postBlinkTitle{
  position: absolute;
  bottom: -40px;
  left: 55px;
  font-size: 11px;
}